<launch>

  <group ns="rocket">
      <rosparam file="$(find real_time_simulator)/config/rocket_parameters.yaml" />
  </group>

  <group ns="environment">
      <rosparam file="$(find real_time_simulator)/config/environment_parameters.yaml" />
  </group>

  <group ns="perturbation">
      <rosparam file="$(find real_time_simulator)/config/perturbations_parameters.yaml" />
  </group>

  <group ns="visualization">
    <rosparam file="$(find real_time_simulator)/config/visualization_parameters.yaml" />
  </group>
''

  <node name="aerodynamic" pkg="real_time_simulator" type="aerodynamic.py" cwd = "node" />
  <node name="disturbance" pkg="real_time_simulator" type="disturbance.py" cwd = "node" output ="screen"/>

  <node name="integrator" pkg="real_time_simulator" type="integrator" cwd = "node" output ="screen"/>
  
  <node name="GUI_interface" pkg="real_time_simulator" type="GUI_interface" />
  
  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find real_time_simulator)/GUI/rocket_GUI.perspective"/> 
  <node pkg="rosbag" type="record" name="recorder" args="record -a -O $(find real_time_simulator)/log/log.bag"/>

</launch>
